#root {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 1280px;
  text-align: center;
  width: 100%;
}

:root {
  --black: #000000;
  --primary-blue: #0050b3;
  --primary-danger: #ff4d4f;
  --light-blue: #91d5ff;
  --gray-100: #a9a9a9;
  --white: #ffffff;
}

button {
  font-size: 1rem;
}
